{% extends 'main.html' %}

{% block contents %}


<!-- the form of the user login -->

{% if page == 'login' %}
<div>
     <form method='POST' action="">
          {% csrf_token %}

          <label for="">Username: </label>
          <input type="text" name="username" placeholder="Enter your username">
          
          <label for="">Password: </label>
          <input type="password" name="password" placeholder="Enter password">
          <input type="submit" value="Login">
     
     </form>
     <p>Haven't sign up yet</p>
     <a href="{% url 'register' %}">Sign Up</a>
</div>

<!-- the form of user registration -->
{% else %}
<div>
     <form method='POST' action="">
          {% csrf_token %}
          {{form.as_p}}
          <input type="" name="" id="">
          <input type="submit" value="Register">
         
     </form>
     <p>Already have an account</p>
     <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock %}